@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo para el fondo degradado */
.bg-mesh {
  background-color: #102216;
  background-image:
    radial-gradient(at 0% 0%, rgba(13, 242, 89, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(30, 58, 138, 0.3) 0px, transparent 50%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-enter {
  animation: fadeIn 0.4s ease-out forwards;
}